DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
BOT_NOTICE_CHANNEL_ID=77777777
CHALLENGER_NOTICE_CHANNEL_ID=77777777
NOTICE_STATISTICS_CHANNEL_ID=77777777
SCORE_COMMAND_CHANNEL_ID=77777777
TARGET_ROLE_IDS=777,7777,77777,7777777
STAFF_ROLE_IDS=777777777
GOOGLE_SPREADSHEET_ID=YOUR_GOOGLE_SPREADSHEET_ID
GOOGLE_SERVICE_ACCOUNT_FILE=./service-account.json
